.layout {
  height: 100%;

  &__logo-link {
    width: 50px;
    height: 50px;
  }

  &__header {
    width: 100%;
    height: 70px;
    max-height: 80px;

    align-items: center;
    justify-content: space-between;
  }

  &__search {
    width: 600px;

    margin-left: 215px;
  }

  &__create-product-link {
    align-items: center;
    justify-content: center;

    width: 227px;
    height: 55px;

    border-radius: 999px;

    background-color: var(--color-primary);

    a {
      color: var(--color-white);
      text-decoration: none;
    }
  }
}
