.text-color {
  &--primary {
    color: var(--color-primary);
  }

  &--black {
    color: var(--color-black);
  }

  &--white {
    color: var(--color-white);
  }

  &--secondary {
    color: var(--color-secondary);
  }
}
