:root {
  // Цвета
  --color-primary: #ada7ff;

  --color-black: #000;
  --color-text-secondary: #686868;

  --color-white: #fff;

  // Анимация
  --transition-speed: 0.15s;
  --transition-function: ease-in-out;
}
