.select {
  position: relative;
  &__selection {
    align-items: center;
  }

  &__label {
    align-items: center;
    justify-content: center;
  }

  &__list {
    list-style: none;

    position: absolute;
    top: calc(100% + 8px);

    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);

    padding: 10px;
    border-radius: 12px; /* мягкие скругления */
    transition: all 0.3s ease;
    min-width: 180px;

    li {
      padding: 8px 12px;
      margin-bottom: 6px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.2s ease;
      font-weight: 500;
      color: #4a4a4a;

      &:hover {
        background: rgba(173, 167, 255, 0.3); /* милый фиолетовый оттенок */
        transform: scale(1.05); /* лёгкое увеличение */
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
