.input {
  display: flex;
  align-items: center;

  width: 100%;

  gap: 12px;

  &__input-element {
    align-items: center;

    width: 100%;

    border: 1px solid var(--color-primary);
    border-radius: 22px;

    padding: 8px 16px;

    height: 40px;

    input {
      width: 100%;

      border: none;
      outline: none;

      background-color: transparent;
    }
  }
}
